name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  test_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          pytest

  build_and_push:
    needs: test_code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          # HARDCODED USERNAME (Lowercase, from your screenshot)
          username: vaishnaviporandla
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # HARDCODED TAG (Matches your screenshot exactly)
          tags: vaishnaviporandla/cicd-project:latest